@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 1px solid lightblue;
}

body{
    font-family: 'Roboto', sans-serif;
}

.top-menu{
    background: #1DA1F2;
    color: #FFFFFF;
    font-size: 16px;
    position: fixed;
    top: 0;
    height: 40;
    padding: 10px 0px 10px 0px;
    width: 100%;
    text-align: right;
}

.top-menu a{
    color: inherit;
    text-decoration: inherit;
}

ul#top-menu-horizontal li{
    display: inline;
    margin: 0px 10px 0px 10px;
}

.header{
    padding: 60px;
    text-align: center;
    background: #1DA1F2;
    color: white;
    font-size: 24px;
    display: block;
    height: 600px;
}

.header-container{
    height: fit-content;
    margin-top: 50px;
}

.header-element{
    height: 350px;
    width: 500px;
    display: inline-block;
    padding: 25px;
    margin: 0px 25px 0px 25px;
    vertical-align:top;
}

.header-photo{
    height: 300px;
}

.header-button{
    width: 125px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    color: #1DA1F2;
    border-radius: 25px;
    margin-top: 50px;
}

.header-button:active {
  background: #1DA1F2;
  color: #FFFFFF;
}

.header-button:disabled { 
    background-color: #FFFFFF;
    color: #1DA1F2;
}

.main-content-block{
    height: fit-content;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.content-block{
    height: 400px;
    width: 500px;
    display: inline-block;
    padding: 25px;
    margin: 0px 25px 0px 25px;
    vertical-align:top;
    text-align: center;
}

.block-photo{
    width: 400px;
    vertical-align: middle;
}


.block-title{
    color: #1DA1F2;
    font-size: 24px;
}